/*
* Styling based on the Skeleton documention (http://www.getskeleton.com/)
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/
html, body, div, span, applet, object, iframe, h1, h2, .admonition-title, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background: #fff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", system-ui, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #222;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

article p {
  margin: 1.25em 0;
  line-height: 1.8;
}

h1, h2, .admonition-title, h3 {
  font-weight: bold;
}

h1 {
  font-size: 1.7em;
}

h2, .admonition-title {
  font-size: 1.4em;
  margin-top: 30px;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

blockquote {
  margin: 20px 0 20px 3px;
  padding: 1px 15px;
  border-left: 2px solid #ddd;
}
blockquote p {
  color: #777;
  font-style: normal;
  margin: 3px 0;
}
blockquote cite {
  display: block;
  padding-top: 5px;
  font-size: 0.85em;
  color: #555;
}
blockquote cite:before {
  content: "— ";
}

hr {
  clear: both;
  border: none;
  height: 1px;
  background-color: #ebebeb;
  margin: 10px 5px;
}

a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
  outline: 0;
}
a:hover, a:focus {
  color: #000;
  text-decoration: underline;
}
a.icon {
  padding: 0 2px;
  font-size: 20px;
  color: #555;
  transition: color 0.25s ease;
}
a.icon:hover {
  text-decoration: none;
  color: #222;
}
a.icon:hover.fa-gitlab {
  color: #fc6d27;
}
a.icon:hover.fa-twitter {
  color: #55acee;
}
a.icon:hover.fa-github {
  color: #171515;
}
a.icon:hover.fa-mastodon {
  color: #6364FF;
}

ul, ol {
  margin: 1.25em 2.25em;
}
ul ul, ul ol, ol ul, ol ol {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style: initial;
}

ol {
  list-style: decimal;
}

table:not(.codehilitetable) {
  margin: 0 auto 2em;
}
table:not(.codehilitetable) th, table:not(.codehilitetable) td {
  padding: 12px;
  border-bottom: 1px solid #e1e1e1;
}
table:not(.codehilitetable) thead th {
  padding-top: 0;
}

abbr, acronym, .abbr {
  cursor: help;
  border-bottom: 1px dashed #444;
}

.footnote-ref {
  padding-left: 1px;
  font-size: 0.7em;
  line-height: 0.5em;
  vertical-align: baseline;
  position: relative;
  top: -0.7em;
}

code:not(pre code) {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  padding: .2em .4em;
  margin: 0;
  font-size: 85%;
  color: #f8f8f2;
  background-color: #272822;
  border-radius: 6px;
}

.codehilitetable, .content > .highlight {
  font: 0.9em source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  overflow-x: auto;
  display: block;
  padding: 0.8em 0;
  font-size: 85%;
}

.codehilitetable tbody tr, .content > .highlight tbody tr {
  display: block;
}

.linenos {
  border-right: 1px solid #ccc;
  padding: 0 0.7em;
  width: 1.2em;
  text-align: right;
  position: absolute;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.highlight {
  border-radius: 4px;
}

.code .highlight {
  margin: 0 1em 0 3.5em;
}

.content > .highlight {
  padding: 1em;
}

.admonition {
  background: #fafafa;
  margin: 20px 0;
  padding: 10px 25px;
  border: solid #ccc;
  border-width: 1px 0;
}

.admonition-title {
  margin: 12px 0;
}

div.math {
  overflow-x: scroll;
}

html, body {
  height: 100%;
}

.container {
  position: relative;
  width: 900px;
  margin: 0 auto;
  padding-top: 50px;
}

article img {
  max-width: 95%;
  margin: 0 auto;
  display: block;
}

footer p {
  margin: 12px 0;
  padding-bottom: 10px;
  text-align: center;
}

aside div {
  margin: 12px 0;
  text-align: center;
}

#avatar {
  margin: 0 auto;
  display: block;
  width: 140px;
  border-radius: 80px;
}

#name {
  font-size: 1.8em;
  line-height: 1.35;
  letter-spacing: -0.5px;
}

#bio {
  font-size: 0.9em;
  line-height: 1.5;
}

#sidebar-links {
  color: #aaa;
}

#sidebar-divider {
  display: none;
}

.title {
  float: left;
  margin-bottom: 0.5em;
}

.info {
  padding-top: 0.5em;
  float: right;
  display: block;
}

.content {
  clear: both;
}
.content hr {
  margin: 25px 10px;
}

.summary p {
  margin-bottom: 6px;
}

#view-archives {
  overflow: auto;
  text-align: right;
}

#back-to-home, #related-articles {
  overflow: auto;
  margin-top: 3em;
}

#next-neighbour {
  float: left;
}

#prev-neighbour {
  float: right;
}

@media only screen and (min-width: 960px) {
  aside, article, footer {
    margin: 0 10px;
  }

  aside {
    float: left;
    width: 160px;
    position: fixed;
  }

  article, footer {
    float: right;
    width: 640px;
  }
}
@media only screen and (max-width: 959px) {
  .container {
    padding-top: 3px;
    width: 90%;
  }

  aside {
    max-width: 280px;
    margin: 0 auto;
    padding-top: 5px;
    vertical-align: middle;
  }
  aside div {
    margin: 5px 0;
  }

  #bio {
    font-size: 0.9em;
  }

  #social .icon {
    padding: 0 1px;
  }

  article {
    margin-top: 14px;
  }
}
@media only screen and (max-width: 767px) {
  .title, .info {
    text-align: center;
    float: none;
    line-height: 1.25;
    margin-bottom: 0;
  }

  #sidebar-divider {
    display: block;
  }
}
@media only print {
  footer, aside, #disqus_thread, #related-articles, #back-to-home {
    display: none !important;
  }

  .container {
    width: 85%;
  }

  p a:after {
    content: " [" attr(href) "]";
  }

  .linenos {
    border-right: none;
  }
}